.Main {
  * {
    box-sizing: border-box;
  }

  .wrap {
    height: 100%;
  }
  .scroll {
    overflow: auto;
  }
  .link_list {
    display: flex;
    align-items: center;
  }
  .link_list li {
    margin-left: 20px;
  }
  .link_list li:first-child {
    margin: 0;
  }
  .state_btn {
    border: none;
    padding: 0;
    width: 25px;
  }
  .state_btn img {
    width: 100%;
  }
  .feed_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .profile {
    display: flex;
    align-items: center;
  }
  .profile .profile_img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .follow_info {
    margin-bottom: 10px;
    padding: 10px 13px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background: #fff;
  }
  .follow_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  .follow_title span {
    font-size: 13px;
    line-height: 1.4;
  }
  .follow_title .text_tit {
    font-size: 15px;
    color: #828282;
  }
  .follow_title .sub_tit {
    font-weight: bold;
  }
  .follow_title a {
    display: block;
  }
  .follow_title a .profile_intro {
    font-size: 14px;
  }
  .feed_profile.follow_list_wrap {
    padding: 0;
  }
  .follow_list {
    display: block;
    width: 100%;
    max-height: 175px;
  }
  .follow_list li {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  /* header */

  /* //header */

  /* main */
  .main {
    position: relative;
    top: 55px;
    background: #f8f9fa;

    .container {
      display: flex;
      max-width: 1066px;
      margin: 0 auto;
      padding: 30px 0;

      .contents_right {
        /* position: fixed;
              left: calc(100% - 712px);  */
        width: 383px;
        box-sizing: border-box;
      }
    }
  }

  /* 왼쪽영역 */
  .contents_left {
    width: 650px;
    box-sizing: border-box;
    margin-right: 40px;

    .feed-left {
      margin-bottom: 20px;
    }

    .inner {
      position: relative;
    }
  }

  .feeds_list .feeds_list_li {
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background: #fff;

    &:last-child {
      margin: 0;
    }
  }

  .feed_profile .profile {
    p {
      line-height: 1.4;
    }

    .profile_id {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .feed_box {
    width: 100%;
    height: 100%;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;

    img {
      width: 100%;
    }
  }

  .feed_info {
    position: relative;
    padding: 10px 20px;

    .feed_state {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  .feed_comments {
    .feed_likes {
      display: flex;
      align-items: center;

      .likes_user.profile .profile_img {
        width: 30px;
        margin-right: 5px;
      }
    }

    .comments_margin {
      margin-bottom: 10px;
    }

    .comment_list {
      .comments_info {
        li {
          margin-bottom: 3px;
        }
      }
    }
  }

  .comments_info .comments_tit {
    font-size: 15px;
    line-height: 1.4;

    .user_id {
      font-weight: bold;
    }

    .comment_contents {
      padding-left: 5px;
    }
  }

  .feed_comments .comment_list .feed_time {
    line-height: 1.4;

    .time {
      font-size: 13px;
      color: #adb5bd;
    }
  }

  .comments_form {
    position: relative;

    .input_box {
      position: relative;
      width: 100%;
      height: 45px;

      input {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 15px;
      }
    }

    .button_box {
      position: absolute;
      right: 10px;
      top: 11px;

      .btn {
        border: none;

        .spanSubmit {
          font-size: 15px;
          color: #bfdffd;
        }

        .spanSubmitOn {
          font-size: 15px;
          color: #1c7ed6;
        }
      }
    }
  }

  /* 오른쪽 영역 */

  .contents_right .aside {
    .aside_profile {
      padding: 10px 0;

      .profile {
        .profile_img {
          width: 50px;
        }
      }
    }

    .pofile_info {
      flex: 1;

      .profile_intro {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        color: #8b8b8b;
      }
    }
  }

  .follow_info.follow_story {
    padding-right: 0;

    .follow_title {
      span.sub_tit {
        padding-right: 13px;
      }
    }

    .profile_img {
      border: 3px solid #fa5252;
    }
  }

  .follow_btn {
    .btn span {
      font-size: 13px;
      font-weight: bold;
      color: #1c7ed6;
    }
  }

  /* footer */
  .footer {
    padding: 10px;
    color: #adb5bd;

    span {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  /* // footer */

  /* //main */
  @media only screen and (max-width: 1150px) {
    .contents_left {
      margin-left: 40px;
    }
  }

  @media only screen and (max-width: 800px) {
    .contents_right {
      display: none;
      transition: transform 0.1s ease;
    }
  }
}
