$basic-color: rgb(230, 230, 230);

@mixin flexBundle($justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.nav {
  @include flexBundle(space-around, center);
  width: 100%;
  margin-top: 10px;
  padding: 0 20px 10px 0;
  background-color: white;
  border-bottom: 1px solid $basic-color;
}

.link_to_my_profile {
  position: absolute;
  width: 24px;
  height: 24px;
}

.link_to_my_profile:hover #nav_my_menu_box {
  display: block;
}

#nav_my_menu_box {
  position: relative;
  right: 60px;
  width: 160px;
  display: none;
  background-color: white;
  border: 1px solid $basic-color;
  border-radius: 10px;
  box-shadow: 2px 2px $basic-color;
  z-index: 1;
  font-size: 14px;
}

.my_menu {
  list-style: none;

  li {
    margin-bottom: 10px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.my_menu_line {
  position: relative;
  right: 42px;
  width: 160px;
  border: 0.5px solid $basic-color;
}

.logo_section {
  @include flexBundle(center, center);
}

.logo_section * {
  margin-right: 10px;
}

.instagram {
  width: 30px;
  height: 30px;
}

.slash {
  font-size: 30px;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.search_section {
  position: relative;
}

.search_input {
  text-align: center;
  width: 200px;
}

.search_icon {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 14px;
  height: 14px;
}

.my_info_section a {
  margin-left: 10px;
}

.my_info_section img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
